.Tablet {
  display:flex;
  width:900px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  align-items:center;
  justify-content: space-between;
  padding:20px;
  z-index: 4px;
  position: absolute;
  top:140px;
  left:200px;
  
  &_filter{
    display:flex;
    @media (max-width:375px) {
      flex-wrap:wrap;
    }
  }
  &_clear{
   color:hsl(180, 29%, 50%);
   cursor:pointer;
   font-family:medium;

   &:hover{
    border-bottom: 1px solid hsl(180, 29%, 50%);
   }
  }

}
@media screen  and (max-width:475px){
  .Tablet{
  left:0px;
  width:340px;
  left:0;
  }
  .Tablet_filter{
    flex-wrap:wrap;
  }
}